---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/HeroSection.astro";
const pageTitle = "Home Page";
---
<HeroSection />
<BaseLayout pageTitle={pageTitle}>
  <h2>Welcome to my Astro Site</h2>
</BaseLayout>

