---
import Keyboard from "@/components/Keyboard.astro";
import "../styles/global.css";
---

<section class="w-2/3 max-w-[1200px] mx-auto flex flex-col gap-8 px-4 h-screen justify-center">
  <div
    class="flex w-fit items-center rounded-full gap-3 py-1.5 pl-3 pr-4 border border-zinc-600/75 bg-slate-950/25 animate-fade-up"
  >
    <div class="relative size-3">
      <div class="absolute size-full animate-ping rounded-full bg-green-300 opacity-65">
      </div>
      <div class="drop-shadow-green size-full rounded-full bg-green-400"></div>
    </div>
    <h3 class="text-sm text-slate-200 max-xs:text-xs">
      Available for projects
    </h3>
  </div>

  <h1
    class="text-slate-100 animate-fade-up animate-delay-200 text-[clamp(2rem,7vw,3rem)] font-medium leading-[1.05] tracking-tight"
  >
    Hi, I'm Amir. <br /> A software engineer.
  </h1>

  <h2
    class="animate-fade-up animate-delay-400 mb-8 max-w-xl leading-relaxed text-slate-400 max-sm:text-sm"
  >
    I am a full-stack software engineer with multiple internships in AI-driven startups. I have a passion for learning and creating new things.
  </h2>

  <Keyboard class="animate-fade-up animate-delay-600" />
</section>