---
import TechStacks from './TechStacks.astro';
---

<div class="">
  <div class="h-[50px] my-11">
    <TechStacks />
  </div>
  <div class="pb-6 space-y-2">
    <p class="text-lg text-white">Tech stacks I'm familiar with</p>
    <p class="text-sm text-slate-400">
      Primarily focused on full-stack development, specializing in building fast and responsive applications.
    </p>
  </div>
</div> 