---
import { BentoItemNowPlaying as BentoItemNowPlayingComponent } from './BentoItemNowPlaying.tsx';
---

<div class="col-span-1 row-span-1 relative">
  <BentoItemNowPlayingComponent client:load />
</div> 