---
import techStacks from './techStacksData';
import { IconWrapper } from '../icons/IconWrapper';
---

<div class="relative flex w-full flex-col items-center justify-center overflow-hidden">
  <div class="flex animate-marquee items-center gap-8">
    {techStacks.map(({ icon, name }) => (
      <div class="w-[50px] h-[50px] flex items-center justify-center">
        <IconWrapper icon={icon} className="text-white" />
      </div>
    ))}
    {techStacks.map(({ icon, name }) => (
      <div class="w-[50px] h-[50px] flex items-center justify-center">
        <IconWrapper icon={icon} className="text-white" />
      </div>
    ))}
    {techStacks.map(({ icon, name }) => (
      <div class="w-[50px] h-[50px] flex items-center justify-center">
        <IconWrapper icon={icon} className="text-white" />
      </div>
    ))}
    {techStacks.map(({ icon, name }) => (
      <div class="w-[50px] h-[50px] flex items-center justify-center">
        <IconWrapper icon={icon} className="text-white" />
      </div>
    ))}

  </div>
  <div class="pointer-events-none absolute inset-y-0 left-0 w-1/3 bg-gradient-to-r from-[#0f1219]"></div>
  <div class="pointer-events-none absolute inset-y-0 right-0 w-1/3 bg-gradient-to-l from-[#0f1219]"></div>
</div>

<style>
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-50%));
    }
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
</style> 